body{
  background: #fff;
}

.status{
	padding: 25px;
}


.box {
  transition: box-shadow .3s;
  width: 300px;
  margin: 50px;
  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  justify-content: center;
  text-align:center;
   padding-bottom: 25px;
}
.box:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.round {
  background: #0069eb;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 15px 30px;
  text-decoration: none; }
  
  .round-grad {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#57ff03), to(#0dc700));
  background-image: -webkit-linear-gradient(top, #57ff03, #0dc700);
  background-image: -o-linear-gradient(top, #57ff03, #0dc700);
  background-image: linear-gradient(to bottom, #57ff03, #0dc700);
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  padding: 15px 30px;
  text-decoration: none; }
  
  .roundGreen {
  background: #108100;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 15px 30px;
  text-decoration: none; }
  
  .roundGreen-grad {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#57ff03), to(#0dc700));
  background-image: -webkit-linear-gradient(top, #57ff03, #0dc700);
  background-image: -o-linear-gradient(top, #57ff03, #0dc700);
  background-image: linear-gradient(to bottom, #57ff03, #0dc700);
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  padding: 15px 30px;
  text-decoration: none; }
  
   .roundRed {
  background: #DA0000;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 15px 30px;
  text-decoration: none; }
  
  .roundRed-grad {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#57ff03), to(#0dc700));
  background-image: -webkit-linear-gradient(top, #57ff03, #0dc700);
  background-image: -o-linear-gradient(top, #57ff03, #0dc700);
  background-image: linear-gradient(to bottom, #57ff03, #0dc700);
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  padding: 15px 30px;
  text-decoration: none; } 
  
  
  .curve {
  background: #0069eb;
  color: #fff;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  padding: 15px 30px;
  text-decoration: none; }
  
  .curve-stroke {
  background: none;
  color: #333;
  border: 1px solid #333;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 30px;
  text-decoration: none; }